/target/
.classpath
.project
.settings/
.idea/
*.class
pom.xml.backup
release.properties
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
checkstyle-suppressions.xml
/test-output/
/bin/
*.log
.mvn/
.metadata/
testng.xml
testng-failed.xml