# Compiled class files
*.class

# Log files
*.log

# Maven output directories
/target/
/dependency-reduced-pom.xml

# Eclipse files
.classpath
.project
.settings/

# IntelliJ files
.idea/

# Maven backup files
pom.xml.backup
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Maven output files
checkstyle-suppressions.xml
/test-output/
/bin/

# Eclipse metadata
.metadata/

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

# TestNG files
testng-failed.xml

# IDE-specific folders and files
.mvn/

# Temp files
*.tmp
*.bak
*.swp